@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #ce491d;
  font-size: 34px;
  margin-top: 100px;
  text-align: left;
  margin-left: 300px; /* Adicione essa linha para definir a margem esquerda */
  margin-bottom: 0px; /* Adicione essa linha para definir a margem inferior */

}

body {
  background-image: url("Img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* estilizaçao do acordeao (sobre nos)   */
.minha-secao {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* estilizaçao do texto da historia (sobre nos)   */
.containertexto {
  box-shadow: 8px 10px 5px #0003;
  max-width: 600px;
  border-radius: 10px;
  padding: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  margin-bottom: 80px;
  text-align: center;
}
/* estilizaçao do container da historia (sobre nos)   */
.container {
  box-shadow: 8px 10px 5px #0003;
  max-width: 600px;
  border-radius: 5px;
  padding: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.content {
  display: block;
  flex-direction: column;
  gap: 10px;
}

.accordion_item {
  border-radius: 30px;
}

.accordion_item:hover {
  opacity: 0.9;
}

.accordion_header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion_content {
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  height: 0;
  transition: all .5s ease;
  font-size: 18px;
  margin-top: 15px;
}

.active {
  padding-bottom: 10px;
  padding-bottom: 10px;
}

span,
.icon {
  font-weight: 900;
}

p {
  text-align: justify;
  font-size: 1.1em;
}

.container {
  display: flex;
  margin-top: -300px;
}

p {
  margin-left: 200px;
}

.accordion_item {
  position: relative;
}

.background_overlay {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  z-index: 1;
}

.accordion_item .accordion_content,
.accordion_item .accordion_header {
  position: relative;
  z-index: 2;
}

.highlighted-text {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.tira-fotos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tira-fotos img {
  width: 100px;
  height: auto;
}
.container-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -300px;
}

.container-fotos img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}